<div class="jumbotron">
  <h1>Full-stack App Template</h1>
  <p>Framework-agnostic template for Single Page Apps, backed by simple Express server.</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Backend</h4>
    <ul>
      <li><a href="https://github.com/lukehoban/es6features"><abbr title="ECMAScript 6">ES6</abbr></a> support (thanks to <a href="http://babeljs.io">Babel</a>)</li>
      <li><a href="http://jasmine.github.io">Jasmine</a> 2.3 specs without any need for PhantomJS</li>
      <li><a href="http://expressjs.com">Express</a> app prepared to serve frontend code</li>
      <li>Live reload using <a href="http://nodemon.io">nodemon</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Frontend</h4>
    <ul>
      <li><a href="https://github.com/lukehoban/es6features"><abbr title="ECMAScript 6">ES6</abbr></a> support (thanks to <a href="http://babeljs.io">Babel</a>)</li>
      <li><a href="http://jasmine.github.io">Jasmine</a> 2.3 specs without any need for PhantomJS</li>
      <li><a href="http://sass-lang.com">SCSS</a> using <a href="https://www.npmjs.com/package/node-sass">node-sass</a></li>
      <li><a href="http://browserify.org">Browserify</a> for dependencies and bundling</li>
      <li><a href="http://getbootstrap.com">Bootstrap</a> for easy prototyping</li>
      <li>Live reload using <a href="http://www.browsersync.io">BrowserSync</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Deployment / CI / Tools</h4>
    <ul>
      <li>Easy deployment to <a href="https://www.heroku.com">Heroku</a> (thanks to <a href="https://devcenter.heroku.com/articles/app-json-schema">app.json</a> schema and <code>postinstall</code> script in <code>package.json</code>)</li>
      <li><a href="https://travis-ci.com">Travis CI</a> config</li>
      <li><a href="https://github.com/tpope/vim-projectionist">projectionist.vim</a> config</li>
    </ul>
  </div>
</div>

<h3>Get Started</h3>

<div class="row">
  <div class="col-md-4">
    <p>Development:</p>
    <pre>$ npm run serve</pre>
  </div>
  <div class="col-md-4">
    <p>Testing:</p>
    <pre>$ npm test</pre>
  </div>
  <div class="col-md-4">
    <p>Production:</p>
<pre>
$ npm run build
$ npm start
</pre>
  </div>
</div>

<script src="/app.js"></script>
